<div>
  <h4 style="margin-top: 10px">Ingreso de vehiculo - Carro</h4>
  <hr>
  <form autocomplete="off" [formGroup]="formIngreso" (ngSubmit)="onEnviar()" novalidate>
    <div class="form-group">
      <label for="placa" class="required">Placa de Vehiculo</label>
      <input formControlName="placa" type="text" class="form-control" name="placa" placeholder="Ingresar placa">
      <div class="invalid-feedback">
        Debe Ingresar la placa del vehiculo
      </div>
    </div>
    <div class="form-group">
      <label for="modelo" class="required">Modelo de Vehiculo</label>
      <input formControlName="modelo" type="text" class="form-control" name="modelo" placeholder="Ingresar modelo">
      <div class="invalid-feedback">
        Debe Ingresar el modelo del vehiculo
      </div>
    </div>
    <div class="container-buttons">
      <button type="submit" class="btn btn-primary">
        <fa-icon [icon]="guardarIcon"></fa-icon> Registrar
      </button>
      <button type="reset" class="btn btn-danger">
        <fa-icon [icon]="cancelarIcon"></fa-icon> Cancelar
      </button>
    </div>
  </form>
</div>